<div class="form-group">
    <label for="userName">Company Name</label>
    <input required value="<%=companyName %>" type="text" name="companyName" id="companyName" class="form-control" disabled>   
</div>

<div class="form-group">
    <label for="userName">Job Title</label>
    <input required value="<%= jobTitle %>" type="text" name="jobTitle" id="jobTitle" class="form-control" disabled>   
</div>

<div class="form-group">
    <label for="userName">User Name</label>
    <input required value="<%= user.userName %>" type="text" name="userName" id="userName" class="form-control">   
</div>

<div class="form-group">
    <label for="rollNumber">Roll Number</label>
    <input required value="<%= user.rollNumber %>" type="text" name="rollNumber" id="rollNumber" class="form-control">   
</div>

<div class="form-group">
    <label for="cgpa">CGPA</label>
    <input required value="<%= user.cgpa %>" type="text" name="cgpa" id="cgpa" class="form-control">   
</div>

<div class="form-group">
    <label for="email">Email</label>
    <input required value="<%= user.email %>" type="text" name="email" id="email" class="form-control">   
</div>

<div class="form-group">
    <label for="phoneNumber">Phone Number</label>
    <input required value="<%= user.phoneNumber %>" type="text" name="phoneNumber" id="phoneNumber" class="form-control">   
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>
