<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-1"><%= article.companyName %></h1>
    <h6 class="text-danger mb-2">
        Deadline: <%= article.deadline %>
    </h6>
    <hr>
    <p class='text mb-2'>
        <h4>Job Title:</h4> <%= article.jobTitle %><br>
        <h4>Stipend:</h4> <%= article.stipend %><br>
        <h4>Location:</h4> <%= article.location %><br>
        <h4>Duration:</h4> <%= article.duration %><br>
        <h4>Eligible Branches:</h4> <%= article.branches %><br>
        <h4>Job Description:</h4>
        <%= article.jobDescription %><br>
    </p>
    <hr>
    <a href="/articles/fillApplication" class="btn btn-success">Fill Application</a>
    <a href="/" class="btn btn-secondary">All Jobs</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
  </div>
</body>
</html>